{% extends "layout.html" %}

{% block title %}
Проверка
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<section class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
  <h1 class="display-3">Сайт: {{ url.name }}</h1>
  <br>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
        <tr>
          <td>ID</td>
          <td>{{ url.id }}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{ url.name }}</td>
        </tr>
        <tr>
          <td>Дата создания</td>
          <td>{{ url.created_at | dateformat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- проверка -->
<!-- <section>
  <h2 class="mt-5 mb-3">Проверки</h2>
  <form method="post" action="/urls/1/checks">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
  </form>

  <div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
      <tbody>
    
    <tr>
        <td>1</td>
        <td>200</td>
        <td></td>
        <td>Анализатор страниц</td>
        <td>Third project for Hexlet.io</td>
        <td>2025-04-08</td>
    </tr>
    
    </tbody>
    </table>
  </div>

</section> -->
{% endblock %}
