{% extends "layout.html" %}

{% block title %}
Сайты
{% endblock %}

{% block content %}
<section class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 bg-light p-5">
    <h1 class="display-3">Страницы</h1>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
          <thead>
          <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
          </tr>
          </thead>
          <tbody>
            {% for url in urls %}
            <tr>
              <td>{{ url.id }}</td>
              <td><a href="/urls/{{ url.id }}">{{ url.name }}</a></td>
              <td>{{ url.last_check_at|dateformat if url.last_check_at }}</td>
              <td>{{ url.status_code if url.status_code }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</section>
{% endblock %}